@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin transition($props: all, $time: 0.3s, $ease: ease) {
  transition: $props $time $ease;
}

@mixin btn-style {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@mixin btn-primary($bg-color, $text-color) {
  @include btn-style;
  background-color: $bg-color;
  color: $text-color;

  &:hover {
    background-color: color.scale($bg-color, $lightness: -10%);
  }
}