
@use '../utils/variables' as vars;
@use '../utils/mixins' as mixins;

.recipes-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: vars.$gap-section;
  padding: vars.$padding-section;
  background-color: vars.$color-light;

  p {
    font-family: vars.$font-family;
    font-size: vars.$font-size-base;
    color: vars.$color-dark;
    text-align: center;
  }
}
